/BookStore/build/client/Analysis-00.toc
/BookStore/build/client/base_library.zip
/BookStore/build/client/client.exe.manifest
/BookStore/client.spec
/database/database_credentials.txt
/BookStore/build/client/EXE-00.toc
/database/lite.db
/dictionary/output.mp4
/BookStore/build/client/PKG-00.pkg
/BookStore/build/client/PKG-00.toc
/BookStore/build/client/PYZ-00.pyz
/BookStore/build/client/PYZ-00.toc
/Sellenium/test_go_back_to_google.mp4
/Sellenium/test_open_search_dog_url.mp4
/Sellenium/test_open_search_not_found.mp4
/Sellenium/test_voice_search_no_mic.mp4
/BookStore/build/client/Tree-00.toc
/BookStore/build/client/Tree-01.toc
/BookStore/build/client/warn-client.txt
/BookStore/build/client/xref-client.html
